* {
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box;
    
  } 
  
  body {
    font-family: Arial, sans-serif; /* Define la fuente */
    background-color: #4c2f53; /* Color de fondo suave */
    padding: 20px; 
    border: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  
  header {
    background-color: #7d3d89f1; /* Color de fondo del header */
    margin: bottom 20xp; ;
    text-align: center; /* Centra el contenido del header */
  }
  
  header h1 {
    margin: 30px; /* Espacio superior */
    color: rgb(243, 251, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4); /* Color del texto */
    font-size: 2em; /* Tamaño de fuente */
  }
  
  #root {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
 
 
  
  .card {
     margin: 10px;
     border: 2px solid #ddd; /* Borde de la tarjeta */
     border-radius: 0 30px 0 30px; /* Bordes redondeados */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
     background:rgba(241, 116, 239, 0.478); 
     /* Color de fondo de las tarjetas */
     padding: 20px;
     text-align: left;
     flex: 1 0 calc(25% - 40px); /* Cada tarjeta ocupará un 40% del ancho del contenedor, menos el espacio del gap */
     box-sizing: border-box;
     max-width: calc(25% - 40px); /* Limitar el ancho máximo de cada tarjeta */
     flex-direction: column;

     list-style-type: none; /* Elimina los puntos de la lista */
     padding: 0; /* Elimina el padding */
     font-size: 1em;
  }
   
  .card li.item {
        margin-bottom: 10px; /* Espaciado inferior entre ítems */
        display: flex;
        color: rgb(15, 17, 18);
        text-shadow: 2px 2px 5px rgb(230, 215, 215);
        padding-left: 10px;
  }

  .card li.item:first-of-type{
    width: 100%;
    align-self: center;
    padding-top: 10px;
  }

  .card li.item img {
    height: 200px;
    width: 250px;
    object-fit: cover;
  }
  select{
    background-color: #a156b0;
    color: rgb(250, 243, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4);
    font-size: 15px

  } 
  label{
    color: rgb(250, 243, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4);
    color: rgb(250, 243, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4);
    font-size: 15px
  }
  button{
    background-color: #8e429d;
    text-shadow: #4c2f53;
    color: rgb(250, 243, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4);
    font-size: 15px
  }
                 
  footer {
    max-width: 100%;
    background-color: #9951a7;
    padding: 20px;
    bottom: 0%;
    text-align: center;
    color: rgb(243, 251, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4);
    font-size: 20px
  }
  #curious_fact{
    max-width: 100%;
    background-color: #7d3d89f1;
    padding: 20px;
    bottom: 0%;
    text-align: center;
    margin: 10px;
    color: rgb(243, 251, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4);
    font-size: 25px;
  }
  h3{
    color: rgb(243, 251, 255);
    text-shadow: 2px 2px 5px rgb(10, 4, 4);
  }
  #curious_fact div{
    margin: 30px;
  }
  @media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 40px); /* 50% del ancho menos el espacio del gap */
        max-width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 600px) {
    .card {
        flex: 1 1 calc(100% - 40px); /* 100% del ancho menos el espacio del gap */
        max-width: calc(100% - 40px);
    }}
 